/*--common--*/
body{
-webkit-text-size-adjust: 100%;
min-height: 100%;
background-color: #333;
}
/*loading*/
#loader{
background-color: #000;
width: 100%;
height: 100%;
position: fixed;
z-index: 10;
}
/*loading text animation*/
#loadingtext{
position: absolute;
top: 40%;
left: 0;
right: 0;
bottom: 0;
text-align: center;
font-size: 2em;
color: #fff;
}

.lt {
display: inline-block;
vertical-align: middle;
}

.lt:nth-of-type(1) {animation: textanime 2s ease 0s infinite;}
.lt:nth-of-type(2) {animation: textanime 2s ease 0.1s infinite;}
.lt:nth-of-type(3) {animation: textanime 2s ease 0.2s infinite;}
.lt:nth-of-type(4) {animation: textanime 2s ease 0.3s infinite;}
.lt:nth-of-type(5) {animation: textanime 2s ease 0.4s infinite;}
.lt:nth-of-type(6) {animation: textanime 2s ease 0.5s infinite;}
.lt:nth-of-type(7) {animation: textanime 2s ease 0.6s infinite;}

@keyframes textanime {
	0%  {margin-top: 0;}
	5%  {margin-top: -1em;}
	10% {margin-top: 0;}
	13% {margin-top: -0.5em;}
	16% {margin-top: 0;}
	18% {margin-top: -0.2em;}
	20% {margin-top: 0;}
}

/*loading animation*/
#loading {
position: absolute;
top: 55%;
left: 0;
right: 0;
bottom: 0;
border:5px solid #1000ff;
opacity:.9;
border-right:5px solid #000;
border-left:5px solid #000;
border-radius:50px;
width:10vh;
height:10vh;
margin:0 auto;
animation:spin 1s infinite ease-in-out;
animation:spin 1s infinite linear;
}

@keyframes spin {
	0%   {transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50%  {transform:rotate(145deg); opacity:1; }
	100% {transform:rotate(-320deg); opacity:0; }
}
/*typing animation*/
.typing{visibility: hidden;}

/*particle animation*/
#particles{
position: fixed;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;
z-index: -1;
}

/*contents common*/
header {
width: 100%;
height: 12vh;
background-color: #000;
opacity: 0.8;
}

#title h1 a{
font-family: 'Playball', cursive;
color:#fff;
font-weight: 600;
font-size: 8vh;
text-decoration: none;
border-bottom: 1px #ffff00 solid;
text-shadow:3px 3px 10px #ff1493,1px 1px 1px #fff;
transition: 1.5s;
float: left;
}

#title  h1 a:hover {
transition: 2s;
text-shadow: 1px 1px 1px #fff,0 0 40px #00cccc,
0 0 50px #00cccc,0 0 60px #00ffff,0 0 100px #00ffff;
font-size: 7vh;
border-bottom: 1.5px #ff0000 solid;
}

#title p{
color: #1BDF01;
float: right;
font-size:4vh;
margin: 3vh auto;
}

.button:nth-of-type(1){background-color: #DD4B39;}
.button:nth-of-type(2){background-color: #169A6A;}
.button:nth-of-type(3){background-color: #E8C929;}
.button:nth-of-type(4){background-color: #BD83E0;}
.button:nth-of-type(5){background-color: #0E2672;}
.button:nth-of-type(6){background-color: #F5901A;}


.butitle{
color: #fff;
font-size: 6vh;
text-shadow:2px 2px 2px #000;
font-family: 'Passion One', cursive;
}

#profile .sty{background-color: #DD4B39;}
#portfolio .sty{background-color: #169A6A;}
#contact .sty{background-color: #E8C929;}
#soft .sty{background-color:#BD83E0;}
#link .sty{background-color: #0E2672;}

.hid{display: none;}

.contitle{
width: 48%;
height: 8vh;
margin-left: 2%;
float:  left;
font-size: 6vh;
}

.content{
width:96%;
margin:0 2%;
background-color: #fff;
clear: both;
}

h3{
font-size:120%;
font-weight:bold;
margin-top:20px;
}

h4{font-weight:bold;}

/*profile*/
#profile .content img{
display: block;
border-radius: 50%;
width:10vw;
height:10vw;
margin:20px auto;
text-align:center;
}

#profile .content{text-align:center;}

#profile .content h4{margin-top:10px;}

/*portfolio*/

.expand img{
width:98%;
height:100%;
-webkit-transition: all 1s;
transition: all 1s;
border:solid 1px #ccc;
padding: 4px;
background-color:#fff;
}

.expand img:hover{
-webkit-transform: scale(0.9);
transform: scale(0.9);
box-shadow: 0px 0px 20px 2px rgba(10, 100, 100, 0.8);
background-color: rgba(10, 100, 100, 1);
}

/*link*/
	#link .content p{
	margin:2vh 0;
	}

/*--responsive--*/
@media only screen and (min-width:320px) and (max-width: 767px){

	.typing{display:none;}

	#mainbox{
	width: 92%;
	margin: 14vh 4% 0 4%;
	}

	.button{
	display:block;
	width: 100%;
	height: 10vh;
	margin-bottom: 1%;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	}

	.button:hover{box-shadow: inset 0px 4px 8px 0px #fff;}

	.butitle{margin-left:4%;}

	.close_st{display:none;}

	.sty{
	border-radius:4px;
	margin-bottom:1%;
	opacity:0.9;
	}
	
	#soft h2{font-size:160%;}
	#contact,#portfolio{text-align:center;}
}

@media only screen and (min-width:768px){
	#mainbox{
	width: 72%;
	height: 62vh;
	background-color: rgba(115,148,225,0.8);
	margin: 10vh auto 0 auto;
	box-shadow: 4px 4px 4px #000;
	border-radius: 10px;
	}

	.button{
	width: 24%;
	margin:5vh 0 5vh 7%;
	height: 20vh;
	float: left;
	border:1px #000 solid;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	}

	.button:hover{
	box-shadow: inset 0px 4px 8px 0px #fff;
	transform: rotate(20deg);
	}

	.button:hover .butitle{text-shadow:0 0 0;}

	.butitle{
	margin: 6vh auto;
	text-align: center;
	}

	#modal_bac{
    z-index:1;
    position: fixed;
    top: 0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.75);
    }

	.sty{
	z-index: 2;
	position: absolute;
	left: 0;
  	right: 0;
	top: 0;
	margin: 22vh auto 0 auto;
	width: 72%;
	height: 62vh;
	box-shadow: 4px 4px 4px #000;
	border-radius: 10px;
	}

	.content{
	height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
	}

	.close_st{
	width: 48%;
	height: 8vh;
	margin-right: 2%;
	float:  right;
	font-size: 3vh;
	text-align: right;
	text-decoration: underline;
	color: #fff;
	}

	.close{cursor: pointer;}

/*portfolio*/
	.expand{
	margin-top:20px;
	width:30%;
	float:left;
	margin-left:1%;
	}

/*contact*/

	#contact{
	margin-left:10%;
	width:40%;
	height:70%;
	float:left;
	}

	#amazon{
	width:50%;
	height:70%;
	float:left;
	}

/*not*/
	#soft .content p{
	text-align:center;
	margin-top:20vh;
	font-weight: bold;
	font-size: 2vw;
	}
}
