/*======================common======================*/

section{
color: #fff;
}

section a{
color: #4ABADF;
}

section{
border: 1px solid #ffa500;
overflow: auto;
}

.Description{
margin-bottom: 5%;
font-size: 13px;
}

/*=================791px~================*/
@media only screen and (min-width:791px){

	#Onewaylinks{
	margin-top: 10%;
	margin-left: 5%;
	width: 40%;
	float: left;
	height: 300px;
	}

	#Mutuallinks{
	margin-top: 10%;
	margin-right: 5%;
	float: right;
	width: 40%;
	height: 300px;
	}

	footer{
	clear: both;
	}
}
/*=======================300px~790px=======================*/
@media only screen and (min-width:315px) and (max-width: 790px){

	#Onewaylinks{
	margin-top: 30%;
	}

	#Mutuallinks{
	margin-top: 30%;
	margin-bottom :30%;
	}
}
